# This file is used by the `asdf` CLI (https://asdf-vm.com) to easily switch
# between binary versions. You can think of it like `nvm` or `gvm` but across
# languages.
#
# We'll use `asdf` during development to easily test between
# different versions.
#
# We recommend to use `direnv` (https://direnv.net/) alongside with `asdf`
# to load/unload project-specific environments when changing directories.
# `asdf-direnv`(https://github.com/asdf-community/asdf-direnv) lets play
# them together nicely.
#
# The versions below are not the only valid versions that Bud supports. To see
# a more complete list, review the GitHub workflow to see the versions tested
# in CI.

golang 1.20.2
nodejs 16.4.2
