button {
  outline: none;
  border: 1px solid #ccced1;
  text-decoration: none;
  background: white;
  border-radius: 6px;
  padding: 8px 11px 8px 11px;
  display: inline-block;
  user-select: none;
  color: #3b434b;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    border-color: #aaa;
  }

  &:active {
    border-color: #aaa;
  }
}
