.Footer {
  position: relative;
  width: 100%;
  height: 198px;
  overflow: hidden;

  .left-scene {
    background-image: url("/images/grass.svg");
    background-position: -2px;
    position: absolute;
    bottom: -30px;
    left: -500px;
    height: 68px;
    width: 50%;
  }

  .scene {
    margin: 0 auto;
    max-width: 1000px;
    height: 100%;
    width: 100%;
    position: relative;
  }

  .grass {
    z-index: 1;
    background-image: url("/images/grass.svg");
    background-position: -330px;
    bottom: -30px;
    position: absolute;
    height: 68px;
    width: 100%;
  }

  .jack {
    background-image: url("/images/jack-home.svg");
    background-position: 0px 10px;
    background-repeat: no-repeat;
    position: absolute;
    right: 82px;
    top: 0px;
    height: 198px;
    width: 371px;
    cursor: pointer;
  }
  .jack[data-url$="faq"] {
    background-image: url("/images/jack-faq.svg");
  }
  .jack[data-url$="faq"] {
    background-image: url("/images/jack-contact.svg");
  }

  .right-scene {
    position: absolute;
    overflow: hidden;
    bottom: -30px;
    height: 68px;
    width: 50%;
    right: 0;
  }
  .right-scene-inner {
    position: absolute;
    height: 100%;
    width: 100%;
    right: -500px;
    background-image: url("/images/grass.svg");
    background-position: -462px;
  }
}
