.SlackButton {
  a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    background: white;
    color: inherit;
    user-select: none;
    border: 1px solid #ccced1;
    text-decoration: none;
    background: white;
    border-radius: 6px;
    padding: 10px 15px;
  }

  a:hover {
    border-color: #aaa;
  }

  .logo[data-jingle] {
    animation: jiggle infinite ease-in-out 1.5s;
  }

  .text {
    margin-left: 10px;
    top: 1px;
  }

  @keyframes jiggle {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(0deg);
    }

    60% {
      transform: rotate(15deg);
    }

    70% {
      transform: rotate(-15deg);
    }

    80% {
      transform: rotate(15deg);
    }

    90% {
      transform: rotate(-15deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }
}

.SlackButton-success {
  button {
    display: inline-flex;
    align-items: center;
    border: 1px solid #20d93f;
    text-decoration: none;
    background: white;
    border-radius: 6px;
    color: inherit;
    padding: 8px 15px 8px 11px;
    user-select: none;
  }

  .checkmark {
    background: url("/images/checkmark-green.svg") no-repeat;
    display: inline-block;
    background-size: contain;
    margin-top: 1px;
    height: 25px;
    width: 25px;
  }
  .text {
    color: #20d93f;
    font-size: 22px;
    font-weight: 600;
    margin-left: 5px;
  }
}
